<nav class="navbar navbar-categorymenu navbar-fixed-top">
  <div class="row">
  <div class="container-fluid">
    
    <!-- Brand and toggle get grouped for better mobile display -->
<!--     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" aria-expanded="false">
        <i class="fa fa-bars fa-2x"></i>
      </button>
      <a class="navbar-brand" data-match-route="/"  ui-sref="main"><img src="/img/logo.png" alt=""/></a>
    </div> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse {{ collapsed ? 'collapse' : '' }}">
  
      <ul class="nav navbar-nav inline-items">
        <li ui-sref-active="active" ng-repeat="item in items" on-finish-render="ngRepeatFinished">
          <a data-match-route="/webinar/{{ item.alias }}" ui-sref="webinar.category({ alias: item.alias })">
            <img class="image-responsive" src="{{ baseUrl }}{{ item.image }}" alt=""/>
            &nbsp;
            {{ item.title }}
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-rigth add-items hidden">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="/img/ico-arrow-down.png" alt=""/></a>
          <ul class="dropdown-menu">
            <li ng-repeat="item in addItems">
              <a href="#">            
                <img class="image-responsive" src="{{ baseUrl }}{{ item.image }}" alt=""/>
                &nbsp;
                {{ item.title }}
              </a>
            </li>
<!--             <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li> -->
          </ul>
        </li>
      </ul>

  
    </div><!-- /.navbar-collapse -->
  
  </div><!-- /.container-fluid -->
  </div>
</nav>