<nav class="navbar navbar-mainmenu navbar-fixed-top {{ shadow ? 'drop-shadow' : '' }}">
  <div class="container">
    
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" aria-expanded="false">
        <i class="fa fa-bars fa-2x"></i>
      </button>
      <a class="navbar-brand" data-match-route="/"  ui-sref="main"><img src="/img/logo.png" alt=""/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse {{ collapsed ? 'collapse' : '' }}">
  
      <ul class="nav navbar-nav">
        <li ng-class="{ active: $state.includes('webinar') || $state.includes('webinar_details') }"><a ui-sref="webinar">Вебинары</a></li>
        <li ng-class="{ active: $state.includes('expert') }"><a ui-sref="expert">Консультации</a></li>
        <li ng-class="{ active: $state.includes('shop') }"><a ui-sref="shop">Магазин</a></li>
        <li ng-class="{ active: $state.includes('support') }"><a ui-sref="support">Техническая поддержка</a></li>
      </ul>
  
      <form class="navbar-form navbar-left search-panel">
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><img src="/img/button-search.jpg" alt=""/></button>
          </span>
        </div><!-- /input-group -->
      </form>
  

      <ul class="nav navbar-nav navbar-right user-menu" ng-if="!$root.userInfo">
        <li><a data-match-route="/signin" ui-sref="signin">Вход</a></li>
        <li><a data-match-route="/signup" ui-sref="signup" href="#">Регистрация</a></li>
      </ul>


      <ul class="nav navbar-nav navbar-right user-profile-menu" ng-if="$root.userInfo">
        <li class="dropdown" ng-class="{ open: userMenuOpened }">
          <a ng-click="onToggleUserMenu()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img class="avatar" src="{{ baseUrl }}{{ $root.userInfo.avatar }}" alt="{{ $root.userInfo.firstName }} {{ $root.userInfo.lastName }}"/>
          </a>
          <ul class="dropdown-menu">
            <li><a ui-sref="profile">Профиль</a></li>
            <li><a ui-sref="profile.settings">Настройки</a></li>
            <li><a ui-sref="profile.balance">Баланс {{ $root.userInfo.balance }} руб.</a></li>
            <li><a ng-click="onLogout()" href="#">Выход</a></li>
          </ul>
        </li>
      </ul>
  
    </div><!-- /.navbar-collapse -->
  
  </div><!-- /.container-fluid -->
</nav>