<bk-profile-menu items="profileMenuItems"></bk-profile-menu>
<div class="container-fluid profile">

  <div class="row">
    
    <div class="col-md-4 sidebar text-left">
      <div class="row header">
        <div class="col-md-4">
          <img class="avatar" src="{{ baseUrl }}{{ user.avatar }}" alt=""/>
        </div>
        <div class="col-md-8">
          <h1>{{ user.firstName }} {{ user.lastName }}</h1>
          <span class="tags">{{ user.tags }}</span>
        </div>
        <div class="col-md-12">
          <br>
          <div class="row">
            <div class="col-md-6">
              <span class="rating">Рейтинг: <span>{{ user.rating }}</span></span>
            </div>
            <div class="col-md-6 text-right">
              <a ng-click="openMessageBox()" href="#" class="send-message"><i class="fa fa-envelope-o"></i>&nbsp;Написать</a>
            </div>
          </div>
          <div class="row"  ng-if="messageBoxOpened">
            <div class="col-md-12">
              <br>
              <form>
                 <div class="alert {{ messageAlert.class }}" ng-if="messageAlert !== false">{{ messageAlert.text }}</div> 
                <div class="form-group">
                  <textarea class="form-control" name="message" ng-model="message.text" rows="5"></textarea>
                </div>
                <div class="form-group">
                  <button ng-click="sendMessage()" class="btn btn-primary">Отправить</button>
                  <button ng-click="cancelMessage()" class="btn btn-danger">Отмена</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row about">
        <div class="col-md-12" ng-bind-html="user.about | sanitize"></div>
      </div>
    </div>
  



    <div class="col-md-8 profile-content" ui-view>
      
      <div class="col-md-6">

        <div class="row">
          <ng-include src="'/views/profile-feedback-preview.html'"></ng-include>
        </div>


        <div class="row">
          <ng-include src="'/views/profile-articles-preview.html'"></ng-include>
        </div>

      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="profile-schedule-small">
            <div class="schedule-content">

              <div class="header">
                <h1 class="pull-left"><img src="/img/button-article.png" alt=""/>&nbsp;Расписание</h1>
                <div class="clearfix"></div>
              </div>

              <div ui-calendar="calendarConfig" calendar="schedulePreview" ng-model="eventSources"></div>

              <div class="col-md-12 text-center button-wrapper">
                <bk-consultation-form user="user"></bk-consultation-form>
              </div>

              <div class="clearfix"></div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


</div>