<nav class="navbar navbar-categorymenu navbar-fixed-top">
  <div class="row">
  <div class="container-fluid">
    
    <div class="navbar-collapse {{ collapsed ? 'collapse' : '' }}">
  
      <ul class="nav navbar-nav inline-items">
        <li ng-class="{ active: isActive(item) }" ng-repeat="item in items">
          <a ui-sref="{{ item.state }}">
            <img height="31" ng-src="{{ item.icon }}" alt=""/>
            <span class="badge notify-badge" ng-if="item.badge">{{ item.badge }}</span>
            &nbsp;
            {{ item.title }}
          </a>
          <span class="split">&nbsp;</span>
        </li>
      </ul>
  
    </div><!-- /.navbar-collapse -->
  
  </div><!-- /.container-fluid -->
  </div>
</nav>