<div class="webinar-preview-small" ng-if="!data.isRecomended">
  
  <div class="image">
    <img src="{{ baseUrl }}{{ data.cover }}" alt="{{ data.topic }}"/>
    <span class="topic">{{ trimText(data.topic, 59, false) }}</span>
  </div>
  
  <div class="small-panel">
      <div class="col-md-3 text-center date">
        <span class="date">{{ formatDate(data.startDate, 'D MMM') }}</span>
      </div>
      <div class="col-md-6 text-center">
        <span class="price">{{ data.price }}</span><span class="currency">&nbsp;рублей</span>
      </div>
      <div class="col-md-3 webinar-link">
        <a ui-sref="webinar_details({ category: category, alias: data.alias })"><img src="/img/ico-arrow-right.png" alt=""/></a>
      </div>
  </div>

</div>

<div class="webinar-preview-recomended" ng-if="data.isRecomended">
  
  <div class="image">
    <img src="{{ baseUrl }}{{ data.cover }}" alt="{{ data.topic }}"/>
  </div>
  
  <div class="small-panel">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2 date-container text-center">
          <span class="date">{{ formatDate(data.startDate, 'D MMMM') }}</span>
          <br>
          <span class="time">{{ formatDate(data.startDate, 'HH:mm') }}&nbsp;-&nbsp;{{ formatDate(data.endDate, 'HH:mm') }}</span>
        </div>
        <div class="col-md-10">
          <div class="row text-center topic">
            <span class="topic">{{ trimText(data.topic, 30, true) }}</span>
          </div>
          <div class="row controls">
            <div class="col-md-5">
              <span>Длительность: <span class="len-number">{{ formatDate(data.endDate - data.startDate, 'mm') }}</span> мин</span>
            </div>
            <div class="col-md-5 text-center">
              <span class="price">{{ data.price }}</span><span class="currency">&nbsp;рублей</span>
            </div>
            <div class="col-md-2 webinar-link">
              <a ui-sref="webinar_details({ category: category, alias: data.alias })"><img src="/img/ico-arrow-right.png" alt=""/></a>
            </div>          
          </div>
        </div>
      </div>
    </div>
  </div>

</div>