$mainmenu-background: #eaf4fd;
$mainmenu-height: 60px;
$mainmenu-logo-height: 50px;
$mainmenu-item-color: #000;

$category-icon-height: 30px;
$categorymenu-height: 61px;
$breadcrumbs-height: 49px;

$base-green: #109289;
$base-yellow: #ffc047;
$base-gray: #7d7d7d;
$base-red: #c5132f;

$expert-preview-bg: #f9f9f9;

$button-color: #1da99a;

$category-title-border: #e8e8e8;

$webinar-preview-panel-bg: #f5f5f5;

$breadcrumbs-color: #858585;

$border-color: #e9e9e9;
$border-color-2: #e8e8e8;

$gray-color: #545454;
$gray-color-2: #8f8f8f;
$gray-color-3: #585858;
$gray-color-4: #e2e2e2;

$base-blue: #1b99db;