$mainmenu-background: #eaf4fd;
$mainmenu-height: 60px;
$mainmenu-logo-height: 50px;
$mainmenu-item-color: #000;

$category-icon-height: 30px;
$categorymenu-height: 70px;
$breadcrumbs-height: 49px;

$base-green: #109289;
$base-yellow: #ffc047;

$button-color: #1da99a;

$category-title-border: #e8e8e8;

$webinar-preview-panel-bg: #f5f5f5;

$breadcrumbs-color: #858585;

$border-color: #e9e9e9;
$border-color-2: #e8e8e8;

$gray-color: #545454;

$base-blue: #1b99db;