$mainmenu-background: #eaf4fd;
$mainmenu-height: 60px;
$mainmenu-logo-height: 50px;
$mainmenu-item-color: #000;

$category-icon-height: 30px;
$categorymenu-height: 70px;

$base-green: #109289;
$base-yellow: #ffc047;