.aboutmenu {
  width: 100%;
  font-family: 'PT Sans Narrow';
  position: fixed;
  background: #fff;
  z-index: 9999;
  -webkit-box-shadow: 0px 10px 54px 0px rgba(163,163,163,1);
  -moz-box-shadow: 0px 10px 54px 0px rgba(163,163,163,1);
  box-shadow: 0px 10px 54px 0px rgba(163,163,163,1);

  padding: 30px;

  h1 {
    font-weight: bold;
    color: $base-green;
    font-size: 24px;
  }

  .social-buttons {
    a {
      color: #808080;
      margin-right: 10px;
    }
  }

  .submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 30px;

    li {
      list-style: none;
      a {
        color: #000;
        &:hover {
          text-decoration: none;
          color: $base-green;
        }
      }
    }
  }

  .close-about {
    display: inline-block;
    position: relative;
    bottom: -55px;
    background: #fff;
    border-radius: 50%;
    border: 1px $gray-color-4 solid;
    img {
      width: 45px;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);      
    }
  }

}