.navbar-mainmenu {
  font-family: 'PT Sans Narrow';
  background-color: $mainmenu-background;
  height: $mainmenu-height;
  padding: 0px;
  margin: 0px;
  z-index: 9999;

  &.drop-shadow {
    -webkit-box-shadow: inset 0px -7px 5px -1px rgba(0,0,0,0.22);
    -moz-box-shadow: inset 0px -7px 5px -1px rgba(0,0,0,0.22);
    box-shadow: inset 0px -7px 5px -1px rgba(0,0,0,0.22);    
  }
  
  .navbar-header {
    .navbar-brand {
      padding-left: 10px;
      padding-top: 5px;
      padding-right: 40%;
      img {
        height: $mainmenu-logo-height;
      }
    }
  }

  .navbar-toggle {
    padding-top: 7px;
  }

  .navbar-collapse {
    background: $mainmenu-background;
    max-height: none;
  }

  @media (max-width: 1024px) {
    .navbar-header {
      width: 100%;
    }
    .navbar-toggle {
      display: block;
      float: right;
    }
    .navbar-collapse {
      padding-right: 0px;
      padding-left: 0px;
      width: 100%;
      border-top: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      
      &.collapse {
        display: none !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;        
      }

      .navbar-nav {
        clear: both;
        width: 100%;
        li {
          float: none;
        }
      }
    }
  }


  .search-panel {
    padding-top: 5px;
    padding-left: 7%;
    input {
      border-color: #fff;
      box-shadow: none;
    }
    button {
      background: #fff;
      border: none;
      box-shadow: none;
    }
  }

  .navbar-nav {
    li {
      // Active Menu Item
      &.active {
        a {
         -webkit-box-shadow:inset 0 -4px 0px $base-green;
          -moz-box-shadow:inset 0 -4px 0px $base-green;
          box-shadow:inset 0 -4px 0px $base-green;
          color: $base-green;
          background: none;
        }
      }

      a {
        &:hover {
          background: none;
          color: $base-green;
        }
        color: $mainmenu-item-color;
        font-size: 17px;
        font-weight: bold;
        line-height: 30px;
      }
    }

    &.user-menu {
      a {
        font-weight: normal;
      }
    }

  }

}