.profile-schedule-small {
  padding: 20px;

  .schedule-content {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    background: #fff;

    .header {
      padding: 10px;
      background: #f6f6f6;
        h1 {
          font-family: 'PT Sans Narrow';
          margin: 0px;
        }
      }
  }

}