@import "../../bower_components/font-awesome/scss/font-awesome.scss";

@import "_variables";
@import "_mixins";
@import "fonts";
@import "mainmenu";
@import "aboutmenu";
@import "main_slider";
@import "categorymenu";
@import "category";
@import "webinars";
@import "breadcrumbs";
@import "webinar-details";

.yellow {
  color: #FFEE00;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.two-menu-shown {
  margin-top: $categorymenu-height;
}

.content {
  margin-top: $mainmenu-height;
}

h1 {
  color: #4f4f4f;
}

.content-slider {
  width: 100%;
  padding: 20px;
  @include gradient-top-bottom;
}