@import "../../bower_components/font-awesome/scss/font-awesome.scss";

@import "_variables";
@import "_mixins";
@import "fonts";
@import "mainmenu";
@import "aboutmenu";
@import "main_slider";
@import "categorymenu";
@import "category";
@import "webinars";
@import "breadcrumbs";
@import "webinar-details";
@import "sidebarmenu";
@import "experts";
@import "expertpreview";
@import "user-profile-menu";
@import "base-profile";
@import "profile-schedule";
@import "temp-calendar";
@import "profile-feedbacks";
@import "feedback-form";

.yellow {
  color: #FFEE00;
}

.required {
  color: red;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.two-menu-shown {
  margin-top: $categorymenu-height;
}

.content {
  margin-top: $mainmenu-height;
}

h1 {
  color: #4f4f4f;
}

.content-slider {
  width: 100%;
  padding: 20px;
  @include gradient-top-bottom;
}

.btn-buy {
  background-color: $button-color;
  font-family: 'PT Sans Narrow';
  font-size: 20px;
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.search-control {
  label {
    font-family: 'PT Sans Narrow';
    color: $gray-color-2;
    font-weight: normal;
    font-size: 18px;
  }
  .btn-round {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    background-color: $base-green;
    color: #fff;
    padding-left: 10px;
    padding-top: 4px;
  }
}

.round-rating {
  display: inline-block;
  background-color: $expert-preview-bg;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-left: 7px;
  padding-top: 2px;
  &.plus {
    color: $base-green;
  }
  &.minus {
    color: $base-red;
  }
}

.icon-btn {
  color: #000;
  text-decoration: none;
  font-family: 'PT Sans Narrow';
  &:hover {
    text-decoration: none;
  }
}