@import "../../bower_components/font-awesome/scss/font-awesome.scss";

@import "_variables";
@import "_mixins";
@import "fonts";
@import "mainmenu";
@import "aboutmenu";
@import "main_slider";
@import "categorymenu";
@import "category";
@import "webinars";
@import "breadcrumbs";
@import "webinar-details";
@import "sidebarmenu";
@import "experts";
@import "expertpreview";
@import "user-profile-menu";
@import "base-profile";
@import "profile-schedule";
@import "temp-calendar";
@import "profile-feedbacks";
@import "feedback-form";
@import "blog";
@import "categorymenu_v";
@import "blog-post";
@import "image-uploader";

.yellow {
  color: #FFEE00;
}

.required {
  color: red;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.mainmenu-shown {
  margin-top: $mainmenu-height;
}

.two-menu-shown {
  margin-top: $categorymenu-height + $mainmenu-height;
}

.content {
  margin-top: $mainmenu-height;
}

h1 {
  color: #4f4f4f;
}

.content-slider {
  width: 100%;
  padding: 20px;
  @include gradient-top-bottom;
}

.btn-buy {
  background-color: $button-color;
  font-family: 'PT Sans Narrow';
  font-size: 20px;
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.search-control {
  label {
    font-family: 'PT Sans Narrow';
    color: $gray-color-2;
    font-weight: normal;
    font-size: 18px;
  }
  .btn-round {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    background-color: $base-green;
    color: #fff;
    padding-left: 10px;
    padding-top: 4px;
  }
}

.round-rating {
  display: inline-block;
  background-color: $expert-preview-bg;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-left: 7px;
  padding-top: 2px;
  &.plus {
    color: $base-green;
  }
  &.minus {
    color: $base-red;
  }
}

.icon-btn {
  color: #000;
  text-decoration: none;
  font-family: 'PT Sans Narrow';
  &:hover {
    text-decoration: none;
  }
}

.button-wrapper {
  padding: 20px;
}

.btn-base-green {
  font-family: 'PT Sans Narrow';
  font-size: 16px;
  background-color: $base-green;
  color: #fff;

  &:hover {
    background-color: $base-green-hover;
    color: #fff;
  }
}

.datepicker-with-time {
  padding-top: 9px;
}

form {
  label, input, textarea, select {
    font-family: 'PT Sans Narrow';
  }
}

.article {
  background: $article-preview-bg;
  border: 1px $gray-color-4 solid;
  border-bottom: 2px $gray-color-4 solid;
  margin-bottom: 20px;
  padding: 10px;

  .header {
    h1 {
      font-family: 'PT Sans Narrow';
      font-size: 30px;
      color: $base-green;
      margin: 0;
      text-overflow: ellipsis;
    }
  }

  .text {
    font-family: 'PT Sans';
    margin-top: 15px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 20px;
  }

  .footer {
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'PT Sans Narrow';
    color: #4c4c4c;
    .views {
    }
  }
}

.comment {
  margin-bottom: 20px;
  border: 1px $gray-color-4 solid;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  h4 {
    color: $base-green;
    font-family: 'PT Sans Narrow';
    margin: 0;
  }
  .body {
    font-family: 'PT Sans';
    margin-top: 10px;
    border-top: 1px $gray-color-4 solid;
    padding: 20px;
  }
}

.notify-badge {
  background-color: $base-yellow;
  font-family: 'PT Sans Narrow';
  color: #000;
  position: absolute;
  margin-left: -14px;
  margin-top: -3px;
}

.bk-slider {
  margin-top: 65px;

  .carousel-inner {
    width: 90%;
    margin: auto;
  }

  .carousel-indicators {
    bottom: -40px;
    li {
      width: 10px;
      height: 10px;
      margin: 5px;
      border: none;
      background: $gray-color-4;  
      &.active {
        background: $base-green;
      }
    }
  }

  .carousel-control {
    width: 5%;

    &:hover {
      background: transparent;
    }

    &.right {
      background: transparent;
      .glyphicon-chevron-right {
        top: 45%;
        height: 72px;
        &:before {
          content: '';
        }
        background: url('/img/ico-arrow-large.png') no-repeat;
      } 
    }

    &.left {
      background: transparent;
      .glyphicon-chevron-left {
        top: 45%;
        height: 72px;
        &:before {
          content: '';
        }
        background: url('/img/ico-arrow-large.png') no-repeat;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      } 
    }
  
  }

}